<!-- nav -->
<app-navbar></app-navbar>

<!-- header -->
<div class="panel">
  <p class="panel-heading">
    Documents
  </p>
  <div class="panel-block">
    <p class="control has-icons-left">
      
      <!-- search bar -->
      <app-search (searchingFor) = "filterBooks($event)"></app-search>
    </p>

    <!-- file upload -->
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" id="file-input" name= "file-input" #fileInput (change)="upload()">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            New
          </span>
        </span>
      </label>
    </div>
    
  </div>  

  <!-- book list -->
  <div *ngIf = "loading">Retrieving your documents...</div>
  <app-books-list *ngIf = "!loading" [books]="filteredBooks" ></app-books-list>         
</div>