<form (ngSubmit) = "login(form)" #form = "ngForm" class="login-form" novalidate>  
    <div *ngIf="feedbackEnabled && form.invalid" class="notification is-danger">
      <!-- <p class="validation">there are errors in the form, please review the fields</p> -->
      <div *ngIf="usernameField.errors">
        <p *ngIf="usernameField.errors.required" class="validation">
          username required
        </p>
      </div>
      <div *ngIf="passwordField.errors">
        <p *ngIf="passwordField.errors.required" class="validation">password required</p>
      </div>
    </div>  
    <div class="notification is-danger" [ngSwitch]="error" *ngIf="error">
      <div *ngSwitchCase="'user-not-found'">The username does not exist</div>
      <div *ngSwitchCase="'wrong-password'">The username and password don't match</div>
      <div *ngSwitchDefault>An unexpected error ocurred, please try again</div>
    </div>
  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" name="username" [disabled]="processing" placeholder="Username" [(ngModel)]="username" #usernameField="ngModel" required>
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>      
    </div>
  </div>
  <div class="field">
    <div class="control has-icons-left">
      <input class="input" type="password" [disabled]="processing" placeholder="Password" name="password" placeholder="password" [(ngModel)]="password" #passwordField="ngModel" required>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>      
    </div>
  </div>
  <div class="field is-grouped">
    <p class="control">
      <button class="button is-dark" type="submit" [disabled]="processing">
        Login
      </button>
    </p>    
    <p class="control">
      <button type="button" class="button is-danger" (click) = "showSignupClicked()" [disabled]="processing">
        Signup
      </button>
    </p>
  </div>
  
</form>

