div{
  border: none;
}

.homepage-background {
  min-height: 70vh;
  background-image: url("../../../assets/images/urban-explorer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 7vh;
  /* opacity: 0.7; */
}

.box{
  display: flex;
  -webkit-box-shadow: none;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
  height: 100%;
  background-color: transparent;
  border: 0px;
}


.brand {
  /* text-align: center; */
  font-size: 0.1  em;
  color: rgb(66, 60, 60);
}



.homepage-right{
  width: 30vw;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  align-content: stretch;
  height: 100%;
  background-color: transparent;
}


