<div class="homepage-background"> 
    <div class="box container">
      <!-- homepage-left -->
      <app-homepage-left></app-homepage-left>

      <!-- homepage right -->
      <div class="homepage-right">
        <div *ngIf = "homeRight === 'start'">
          <button class="button is-danger is-large" (click) = "setHomeRight('login')">Enter</button>
        </div>
        <div *ngIf = "homeRight === 'login'">
          <app-login-form (showSignup) = "setHomeRight($event)" ></app-login-form>            
        </div>
        <div *ngIf = "homeRight === 'signup'">
          <app-signup-form (showLogin) = "setHomeRight($event)" ></app-signup-form>            
        </div>
      </div>
    </div>      
</div>

<!-- homepage features -->
<app-homepage-features></app-homepage-features>

