<!-- nav -->
<app-navbar></app-navbar>

<!-- header -->
<div *ngIf = "loading">Loading your new reading experience...</div>
<div *ngIf = "!loading">
  <div class="panel">
    <div class="panel-heading">
      <a (click) = "goToBooks()">
        Documents/
      </a>
      <p *ngIf = "book">
        {{book.originalName}}
      </p>
    </div>
    <p class="panel-tabs">
      <a class="is-active"><i class="fab fa-fly fa-2x"></i>Fly over</a>
      <a>Dive in</a>
    </p>
    <div class="panel-block justify-center">
      <div class="tags" >
        <span [class]="tagClass" *ngFor = "let type of types" (click) = "filterWordCloud(type)" > {{type}}</span>  
      </div>
    </div>
    <!-- <div class="panel-block"> -->
      <!-- types -->
    <!-- </div>   -->
    <router-outlet></router-outlet>
  </div>
  <!-- <app-wcloud [entities] = "filteredEntities.slice(0, 200)"></app-wcloud>      -->
</div>
