<!-- nav -->
<app-navbar></app-navbar>

<!-- header -->
<div *ngIf = "loading">Loading your new reading experience...</div>
<div *ngIf = "!loading">
  <div class="panel">
    <div class="panel-heading">
      <a (click) = "goToBooks()">
        Documents/
      </a>
      <p *ngIf = "book">
        {{book.originalName}}
      </p>
    </div>    
    <div class="panel-block justify-center">
      <div class="tags" >
        <span [class]="tagClass" *ngFor = "let level of levels" (click) = "setLevel(level)" > {{level}}</span>  
      </div>
    </div>
    <div class="panel-block justify-center">
      <div class="tags" >
        <span [class]="tagClass" *ngFor = "let type of types" (click) = "setCategory(type)" > {{type}}</span>  
      </div>
    </div>    
  </div>
  <div *ngIf="showWordCloud">
    <app-force-directed-wordcloud [nodes] = "entitiesNodes" [links] = "entitiesLinks" [category] = "selectedType"></app-force-directed-wordcloud>
  </div>
</div>
