<div class="homepage-features">
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <i class="fas fa-upload fa-4x"></i>
        <h4 class="title">Upload</h4>       
        <h4 class="heading">any PDF file</h4>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>        
        <i class="fas fa-chart-pie fa-4x"></i>
        <h4 class="title">Analize</h4>       
        <h4 class="heading">using AI</h4>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
          <i class="fas fa-object-group fa-4x"></i>
        <h4 class="title">Explore</h4>       
        <h4 class="heading">visual data</h4>
      </div>
    </div>
  </div>
</div>
